
# Avisynth, x264 and the media player must all be 32 or 64 bit
  AVISource("my_video.avi")

# If AviSource cant open source format
# DirectShowSource("my_video.xxx")

# If audio only and wav format
# WAVSource("my_video.wav")

# Histogram()
# Info()

# Cut and join sections e.g. Trim(0, 60) ++ Trim(90, 120)
# Use trim if source contains video else use AudioTrim
# AudioTrim uses seconds not frames
# AudioTrim(3, 9)
# From 00:00-00:20 at 24 fps
# Trim(0, 480)

# x264 expects YV12 (YUV420)
# Install FFdshow to preview avs files convereted to YV12 format or comment out whilst previewing
  ConvertToYV12()

# Create a 30 frame black clip at the beginning, cross fade none of the 30 frames
  Dissolve(blackness(last, 30), last, 00)

# Create a 60 frame black clip at the end, cross fade 30 of the 60 frames
  Dissolve(last, blackness(last, 60), 30)
